:host {
    display: inline-block;
    font-family: 'Arial', sans-serif;
}

span {
    color:white;
}

#gainInput {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
    background: black;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    border-radius: 10px;
}

#gainInput::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background-color: #00ff00;
    border-radius: 50%;
    cursor: pointer;
}

.gain-value {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}